RewriteEngine on

#RewriteCond %{SERVER_PORT} 80 
#RewriteRule ^(.*)$ http://www.site_adi.com/$1 [R,L]

#RewriteCond %{HTTP_HOST} ^site_adi.com. [NC]
#RewriteRule ^(.*)$ http://www.site_adi.com/$1 [L,R=301,NC]


#Seo url oluşturma
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

#404 hata sayfası yönlendirme kodu
#ErrorDocument 404 http://www.joyakademi.com


RewriteRule ^sayfa-([0-9a-zA-Z-_]+)  menu-detay.php?sef=$1 [L,QSA]
RewriteRule ^kategori-([0-9a-zA-Z-_]+)  kategoriler.php?sef=$1 [L,QSA]
RewriteRule ^urun-([0-9a-zA-Z-_]+)-([0-9]+)$  urun-detay.php?sef=$1&urun_id=$2 [L,QSA]







#RewriteRule ^urun-([0-9a-zA-Z-_]+)  urun-detay.php?sef=$1 [L,QSA]




















RewriteRule ^bize-ulasin$ iletisim.php [NC,L]
RewriteRule ^sitemap.xml$ sitemap.php [NC,L]


RewriteRule ^haber-([0-9a-zA-Z-_]+)-([0-9]+)$  haber-detay.php?sef=$1&icerik_id=$2 [L,QSA]
RewriteRule ^sayfa-([0-9a-zA-Z-_]+)-([0-9]+)$  menu-detay.php?sef=$1&menu_id=$2 [L,QSA]
RewriteRule ^video-([0-9a-zA-Z-_]+)-([0-9]+)$  video-detay.php?sef=$1&video_id=$2 [L,QSA]
RewriteRule ^egitim-([0-9a-zA-Z-_]+)  egitim-detay.php?sef=$1 [L,QSA]
RewriteRule ^izle-([0-9a-zA-Z-_]+)  izle-egitim.php?sef=$1 [L,QSA]
RewriteRule ^seyret-([0-9a-zA-Z-_]+)-([0-9]+)$  seyret.php?sef=$1&program_id=$2 [L,QSA]
RewriteRule ^odeme-egitim-([0-9a-zA-Z-_]+)  odeme-egitim.php?egitim_id=$1 [L,QSA]
